/* menu */
nav ul {
    float: right;
}
nav ul li {
    float: left;
    list-style: none;
    padding: 0;
}
nav ul li a {
    display: block;
    text-decoration: none;
    line-height: 76px;
    border-bottom: 4px solid transparent;
    padding: 0 20px;
    color: #333333;
}
nav ul li.active a,
nav ul li a:hover {
    color: #333333;
    text-decoration: none;
    border-bottom: 4px solid #cc6600;
}
#pull {
    display: none;
    color: #333333;
    z-index: 110;
    position: fixed;
    top: 0;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    padding-left: 30px;
    cursor: pointer;
    background: url('../img/pull.png') no-repeat scroll 0 10px rgba(0, 0, 0, 0);
    margin-left: 10px;
}

/* sezioni */
section {
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
}
#home {
    text-align: center;
    margin-top: 30px;
    padding: 130px 0 130px 0;
}
#lavorazioni,
#mappa {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 3px black;
    -moz-box-shadow: 0 0 3px black;
    -webkit-box-shadow: 0 0 3px black;
}
header {
    background-color: white;
    color: #333333;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0 3px black;
    -moz-box-shadow: 0 0 3px black;
    -webkit-box-shadow: 0 0 3px black;
}
footer {
    color: #666;
    text-align: center;
    font-size: 12px;
    margin: 40px auto 10px auto;
}

/* layout */ 
.col2 {
    width: 42.5%;
    margin-left: 5%;
    float: left;
}
.wrap {
    width: 1000px;
    margin: 0 auto;
    clear: both;
}