@media screen and (max-width: 1080px) {
    .wrap {
        width: 76%;
    }
    ul.slideshow {
        width: 780px;
        height: 370px;
    }
    #slideshow-caption, 
    .slideshow-caption-container {
        width: 780px;
        height: 75px;
    }
}

@media screen and (max-width: 1020px) {
    .wrap,
    .col2 {
        width: 86%;
        margin: 0 auto;
        float: none;
    }
    ul.slideshow {
        width: 650px;
        height: 308px;
    }
    #slideshow-caption, 
    .slideshow-caption-container {
        width: 650px;
        height: 60px;
        padding: 10px 25px 0 25px !important;
    }
}

@media screen and (max-width: 760px) {
    header {
        height: 40px;
    }
    #pull {
        display: block;
    }
    h1 {
        float: right;
        height: 40px;
        line-height: 40px;
        padding: 0 30px 0 0;
        margin: 0 10px 0 0;
    }
    h2 {
        margin-left: 0;
    }
    nav {
        float: none;
        margin-left: 0;
        margin-right: 0;
    }
    nav ul {
        display: none;
        height: auto;
        text-align: left;
        width: 100%;
        margin-top: 7px;
    }
    nav ul li {
        display: block;
        float: none;
        width: 100%;
        padding-left: 10px;
        border-bottom: 1px solid #cc6600;
        background-color: #ffffff;
    }
    nav ul li:hover {
        background-color: #cc6600;
    }
    nav ul li a {
        padding: 10px;
        line-height: 20px;
        border: none;
    }
    nav ul li.active a,
    nav ul li a:hover {
        border: none;
    }
    #home {
        margin-top: 40px;
        padding: 100px 0;
    }
}

@media screen and (max-width: 650px) {
    ul.slideshow {
        width: 300px;
        height: 140px;
    }
    #slideshow-caption, 
    .slideshow-caption-container {
        width: 300px;
        height: 30px;
        padding: 0 !important;
    }
    #slideshow-caption p {
        font-size: 26px;
        line-height: 26px;
    }
    h1 {
        padding: 0;
    }
    #pull p {
        display: none;
    }
}