---
---
@import 'grechen';
body {
    font-family: sans-serif;
    width: auto;
    max-width: 700px;
    padding: 0 15px;
    margin: 80px auto;
}
h1 {
    font-family: "GrechenFuemen", serif;
}
code {
    font-family: monospace;
    -webkit-font-smoothing: antialiased;
}