---
---

@import 'grechen';
@import 'darkmode';

body {
    font-family: sans-serif;
    width: auto;
    max-width: 38em;
    padding: 1em 2em;
    margin: 1em auto;
}
h1 {
    font-family: "GrechenFuemen", serif;
}
code {
    font-family: monospace;
    -webkit-font-smoothing: antialiased;
}
a, a:any-link {
    color: black;
    text-decoration: none;
}