<footer>
    <div>
        {% if page.url != '/' %}
        {% for page in site.html_pages %}
        {% if page.url != '/404.html' %}
        <p>
            <a href="{{ page.url }}">日付不明 - <code class="language-plaintext highlighter-rouge">{{ page.title }}</code>{% if page.index_description %} - {{ page.index_description }}{% elsif page.description %} - {{ page.description }}{% endif %}</a>
        </p>
        {% endif %}
        {% endfor %}
        {% for post in site.posts %}
        {% if post.url != page.url %}
        <p>
            <a href="{{ post.url }}">{{ post.date | date: "%d-%m-%Y" }} - <code class="language-plaintext highlighter-rouge">{{ post.title }}</code>{% if post.description %} - {{ post.description }}{% endif %}</a>
        </p>
        {% endif %}
        {% endfor %}
        {% endif %}
        <hr>
    </div>

    <div class="columns is-mobile">

        <div class="column">
            <a href="https://github.com/tgragnato">
                <img class="image is-32x32 m-auto" src="/fonts/square-github.svg" alt="GitHub" />
            </a>
        </div>

        <div class="column">
            <a href="https://linkedin.com/in/tommaso-g-50450a22b">
                <img class="image is-32x32 m-auto" src="/fonts/square-linkedin.svg" alt="LinkedIn" />
            </a>
        </div>

        <div class="column">
            <a href="https://news.ycombinator.com/threads?id=tg180">
                <img class="image is-32x32 m-auto" src="/fonts/square-hn.svg" alt="HN" />
            </a>
        </div>

        <div class="column">
            <a href="https://gitlab.torproject.org/tgragnato">
                <img class="image is-32x32 m-auto" src="/fonts/tor.svg" alt="Tor Project" />
            </a>
        </div>

      </div>
</footer>