<footer class='site-footer'>
  <div class='wrapper'>

    <!-- titolo del sito web -->
    <h3 class='footer-heading'>Gragnato<a href='#home'>Marco</a> · P.IVA 02421010238</h3>

    <div class='col-wrapper'>

      <!-- colonna sinistra -->
      <div class='col col-left'>
        <ul class='without-dots'>
          <li>
            <a href='mailto:{{ site.email }}'>
              {{ site.email }}
            </a>
          </li>
          <li>github:
            <a href='{{ site.github }}'>
              codice sorgente
            </a>
          </li>
        </ul>
      </div>

      <!-- colonna destra -->
      <div class='col col-right'>
        <p>{{ site.disclaimer }}</p>
      </div>

    </div>

  </div>
</footer>
