<head>

  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <title>{{ site.data.base.surname }} {{ site.data.base.name }}</title>
  <meta name='description' content='{{ site.data.base.description }}'>
  <meta name='author' content='Tommaso Gragnato'>

  <style type='text/css'>
    {% capture include_to_scssify %}
    @import
      'variables',
      'fonts',
      'responsive',
      'base',
      'layout',
      'slideshow'
    ;
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>

  {% if page.title == "Homepage" %}
  <script type='text/javascript'>
    {% include jquery.js %}
    {% include script.js %}
  </script>
  {% endif %}

</head>
