<head>

  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <title>{{ site.data.base.surname }} {{ site.data.base.name }}</title>
  <meta name='description' content='{{ site.data.base.description }}'>
  <meta name='author' content='Tommaso Gragnato'>

  <link rel='stylesheet' href='style.css'>

  {% if page.title == "Homepage" %}
  <script type='text/javascript' src='jquery.js'></script>
  <script type='text/javascript'>
    {% include script.js %}
  </script>
  {% endif %}

</head>
