// Site header
.site-header {
  background-color: rgba($brand-color, $alpha-channel);
  border-bottom: 1px solid $grey-color-light;
  border-top: 5px solid $grey-color-dark;

  -moz-box-shadow: 0 0 3px $black;
  -webkit-box-shadow: 0 0 3px $black;
  box-shadow: 0 0 3px $black;

  // I want a fixed header @the top
  height: $header-size;
  max-height: $header-size;
  min-height: $header-size;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 75;
}

.site-title {
  color: $grey-color-dark;
  float: left;

  font-family: $title-font-family;
  font-size: $title-font-size;
  font-weight: $title-font-weight;
  letter-spacing: -1px;

  line-height: $header-size;
  margin-bottom: 0;

  a {
    &,
    &:visited {
      color: $brand-color-dark;
    }
  }
}

.site-nav {
  float: right;
  line-height: $header-size;

  .menu-icon {
    display: none;
  }

  .page-link {
    border-bottom: 4px solid transparent;
    color: $text-color;
    display: block;
    float: left;
    line-height: $header-size;

    &:hover {
      border-bottom: 4px solid $brand-color;
      text-decoration: none;
    }

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {

    background-color: $background-color;
    background-image: url($background-image);
    background-origin: $background-origin;
    background-position: $background-position;
    background-repeat: $background-repeat;

    border: 1px solid $grey-color-dark;
    border-radius: 5px;
    position: absolute;
    right: $spacing-unit / 2;
    text-align: right;
    top: 9px;

    .menu-icon {
      display: block;
      float: right;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      width: 36px;

      > svg {
        height: 15px;
        width: 18px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      float: none;
      line-height: $base-line-height;
      margin-left: 20px;
      padding: 5px 10px;

      &:hover {
        border-bottom: 4px solid transparent;
      }

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

// Site footer
.site-footer {
  background-color: rgba($white, $alpha-channel-full);
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  z-index: 50;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

// Two column responsive layout
.column-wrapper {
  @extend %clearfix;
  color: $grey-color;
  font-size: 15px;
  margin-left: -$spacing-unit / 2;
}

.column {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;

  @include media-query($on-palm) {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

.column-same {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width: calc(50% - (#{$spacing-unit} / 2));
}

.column-left {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

.column-right {
  width: -webkit-calc(55% - (#{$spacing-unit} / 2));
  width: calc(55% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .column-left,
  .column-right {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }

  .column-same {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

// Page & Sections
.page-content {
  margin-top: $header-size + $spacing-unit;
  margin-bottom: $spacing-unit;
  z-index: 25;
}

.page-heading {
  font-size: $title-font-size;
}

.page-list {
  list-style: none;
  margin-left: 0;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.section-title {
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 30px;
  }
}

.page-header {
  margin-bottom: $spacing-unit;
}

.page-title {
  @extend %vertical-rhythm;
  @extend %left-indentation;
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.page-meta,
.section-meta {
  @extend %vertical-rhythm;
  @extend %left-indentation;
  font-size: 22px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 18px;
  }
}

.page-content,
.section-content {

  h2 {
    font-size: 32px;
    &:not(:first-child) {
      margin-top: $spacing-unit;
    }

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 22px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }

  h4 {
    font-size: 18px;

    @include media-query($on-laptop) {
      font-size: 16px;
    }
  }

  // Enfasi
  strong {
    font-weight: 600;

    @include media-query($on-laptop) {
      font-weight: 400;
    }
  }
}
