.highlight {
  color: #c9d1d9;
}

.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

.highlight .w,
.highlight .ni,
.highlight .si,
.highlight .ge,
.highlight .gs {
  color: #c9d1d9;
}

.highlight .ge {
  font-style: italic;
}

.highlight .gs {
  font-weight: 700;
}

.highlight .k,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt,
.highlight .kv {
  color: #ff7b72;
}

.highlight .gr {
  color: #f0f6fc;
}

.highlight .gd {
  color: #ffdcd7;
}

.highlight .nb,
.highlight .nc,
.highlight .no,
.highlight .nn {
  color: #ffa657;
}

.highlight .sr,
.highlight .na,
.highlight .nt {
  color: #7ee787;
}

.highlight .gi {
  color: #aff5b4;
}

.highlight .kc,
.highlight .l,
.highlight .ld,
.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mx,
.highlight .sb,
.highlight .bp,
.highlight .ne,
.highlight .nl,
.highlight .py,
.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi,
.highlight .vm,
.highlight .o,
.highlight .ow {
  color: #79c0ff;
}

.highlight .gh,
.highlight .gu {
  color: #1f6feb;
  font-weight: 700;
}

.highlight .s,
.highlight .sa,
.highlight .sc,
.highlight .dl,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .sx,
.highlight .s1,
.highlight .ss {
  color: #a5d6ff;
}

.highlight .nd,
.highlight .nf,
.highlight .fm {
  color: #d2a8ff;
}

.highlight .err {
  color: #8e1519;
}

.highlight .c,
.highlight .ch,
.highlight .cd,
.highlight .cm,
.highlight .cp,
.highlight .cpf,
.highlight .c1,
.highlight .cs,
.highlight .gl,
.highlight .gt {
  color: #8b949e;
}
