@font-face {
    font-family: 'GrechenFuemen';
    font-style: normal;
    font-weight: 400;
    src: local('GrechenFuemen'), local('GrechenFuemen-Regular'),
        url('fonts/GrechenFuemen-Regular.woff2') format('woff2'),
}