name: Pull Requests

on: [pull_request]

jobs:

  test:
    name: Test Jekyll build
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read
      packages: read
      security-events: read
      pull-requests: read

    steps:

      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Ruby
        uses: ruby/setup-ruby@708024e6c902387ab41de36e1669e43b5ee7085e # v1.283.0
        with:
          ruby-version: '3.4'
          bundler-cache: true
          cache-version: 0

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5

      - name: Build with Jekyll
        run: bundle exec jekyll build --baseurl "${{ steps.pages.outputs.base_path }}"
        env:
          JEKYLL_ENV: staging

  commit-lint:
    name: Commits linter
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read
      packages: read
      security-events: read
      pull-requests: read

    steps:

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: ${{ github.event.pull_request.commits }}
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Commits linter
        uses: bugbundle/commits@v1.1.0
        id: commits

      - name: Preview the version
        run: echo ${{ steps.commits.outputs.major }}.${{ steps.commits.outputs.minor }}.${{ steps.commits.outputs.patch }}

  auto-approve:
    name: Auto Approve
    runs-on: ubuntu-latest

    if: ${{ github.actor == 'dependabot[bot]' }}

    permissions:
      actions: read
      contents: read
      packages: read
      security-events: read
      pull-requests: write

    steps:
      - uses: "fastify/github-action-merge-dependabot@v3"
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          approve-only: true
          use-github-auto-merge: false
